<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Do_An_Win.Properties.Settings.Do_AnConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Do_An;User ID=sa;Password=1332001"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>